<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
  <form class="justify-content-start">
    <button routerLink="/login" class="btn btn-outline-success me-2" type="button">Login</button>
    <button routerLink="/signup" class="btn btn-sm btn-outline-secondary" type="button">Sign Up</button>
  </form>
    <div class="d-flex">
      <a class="navbar-brand" routerLink="/">
        <img src="../../assets/paimon.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
        <b> GenshinTools</b>
      </a>
    </div>
  </div>
</nav>

<p></p>

